/*
 * Edit development utility.
 *
 *
 * Examples:
 *
 *     edit()
 *
 */

// depth guide
depth()
	*
		background-color alpha( #000 , .075 )

// outline guide
rules()
	@import 'pesticide'

// baseline
basehold()
	background url('https://basehold.it/i/24')
	background-size 4px 24px

// Mark outline
mark(color = black, flag = true)
	outline 1px solid color
	box-sizing border-box