// Global

container()
	center: (app-width + (2 * app-gap))

body
	font-default()
	// basehold()
	background-color color-red

#app
	position relative
	box-sizing border-box

.container
	container()

.section
	container()
	padding 0 10px
	box-sizing border-box

